%nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
  %a.navbar-brand{:href => "#"} Blog
  %button.navbar-toggler{"aria-controls" => "navbarsExampleDefault", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarsExampleDefault", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarsExampleDefault.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item.active
        = link_to 'Home', root_path, class: "nav-link"
        %span.sr-only (current)
      %li.nav-item
        = link_to 'About', about_path, class: "nav-link"
      %li.nav-item
        = link_to 'Contact', contact_path, class: "nav-link"
      %li.nav-item.dropdown
        %a#dropdown01.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown"} Dropdown
        .dropdown-menu{"aria-labelledby" => "dropdown01"}
          = link_to 'Home', root_path, class: "dropdown-item"
          = link_to 'Home', root_path, class: "dropdown-item"
          = link_to 'Home', root_path, class: "dropdown-item"
    %nav.navbar-right
      %form.form-inline.my-2.my-lg-0
        %button.btn{:type => "submit"} Login
        |
        =button_to 'Create', create_path
